# Background
## UK lockdown measures in 2021
Up to July 2021:
https://www.instituteforgovernment.org.uk/charts/uk-government-coronavirus-lockdowns

## Hypotheses
Stricter lockdown measures may affect host and guest behaviour. In particular, it may affect
- The number of listings (hypothesis: fewer)
- The type of listings (hypothesis: increase in prpoportion of listings offering whole place vs shared)
- The price (hypothesis: increase in price to reflect additional cleaning and security costs)
[might be better to phrase this the other way around, as lockdown measures were easing from January - July.]

# Method
## Data
Comparison of number of listings, type of listing and price of listing [does price need to be adjusted for something, e.g. price per person?] for January - June 2021 [no data available for May].
## Analysis
- Categorising lockdown measures into "milder" and "stronger" based on whether they are easing or tightening [based on graph referenced above].
(- Summary statistics: counts, means, medians, measures of dispersion) [less interested in this so doing this later - but good to do for sense check etc.]
- Graphs: plotting stats against level of restrictions [still thinking about the best way of doing this]

## Handling missing data
Add.

# Loading packages

In [96]:
import pandas as pd
#import pandas_profiling
from matplotlib import pyplot as plt
import seaborn as sns

# Loading Air BnB data

In [106]:
# as temporary dfs initially as will be dropping vars later

# January
temp_l1 = pd.read_csv('data/listings_1.csv', delimiter=',')
# February etc.
temp_l2 = pd.read_csv('data/listings_2.csv', delimiter=',')
temp_l3 = pd.read_csv('data/listings_3.csv', delimiter=',')
temp_l4 = pd.read_csv('data/listings_4.csv', delimiter=',')
# Data for May not available 
temp_l6 = pd.read_csv('data/listings_6.csv', delimiter=',')
temp_l7 = pd.read_csv('data/listings_7.csv', delimiter=',')

## Looking at January and July data to start with

In [107]:
#printl1.info(verbose=True)

Variables of interest for later:


calculated_host_listings_count 
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms 
calculated_host_listings_count_shared_rooms

## Data cleaning

### Reducing number of vars in dataset

Keeping only variables taht seems relevant to the question at hand

In [143]:
# Various attempts at either dropping ranges of columns, or keeping ranges of columns, but not sure how to do that

#cols = [[:, 0:30], 35, 48, 54:59, 67]
#cols = [0:30,35, 48, 67]
#l1.drop(l1.iloc[:, 0:30],axis=1,inplace=True)
#l1.info(verbose=True)
#l1 = l1.drop(l1.iloc[:, 54:59],axis=1,inplace=True)
#l1.drop(l1.columns[cols],axis=1,inplace=True)


# list of variables to keep
#keep_vars = ['property_type','room_type','accommodates','bathrooms', 'bedrooms','beds', 'amenities','price','minimum_nights','maximum_nights','has_availability','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms','reviews_per_month']
keep_vars = ['property_type','room_type','accommodates','bathrooms', 'bedrooms','beds', 'amenities','price','minimum_nights','maximum_nights','has_availability','review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication','review_scores_location','review_scores_value','calculated_host_listings_count','calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms','reviews_per_month']


l1 = temp_l1.loc[:, keep_vars]
# adding a column to identify the dataset
l1['month'] = "January"

l7 = temp_l7.loc[:, keep_vars]
l7['month'] = "July"

l1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77346 entries, 0 to 77345
Data columns (total 23 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   property_type                                 77346 non-null  object
 1   room_type                                     77346 non-null  object
 2   accommodates                                  77346 non-null  int64
 3   bathrooms                                     0 non-null      float64
 4   bedrooms                                      72458 non-null  float64
 5   beds                                          76165 non-null  float64
 6   amenities                                     77346 non-null  object
 7   price                                         77346 non-null  object
 8   minimum_nights                                77346 non-null  int64
 9   maximum_nights                                77346 non-null  int64
 10  has_availability                              77346 non-null  object
 11  review_scores_accuracy                        53097 non-null  float64
 12  review_scores_cleanliness                     53106 non-null  float64
 13  review_scores_checkin                         53050 non-null  float64
 14  review_scores_communication                   53099 non-null  float64
 15  review_scores_location                        53051 non-null  float64
 16  review_scores_value                           53050 non-null  float64
 17  calculated_host_listings_count                77346 non-null  int64
 18  calculated_host_listings_count_entire_homes   77346 non-null  int64
 19  calculated_host_listings_count_private_rooms  77346 non-null  int64
 20  calculated_host_listings_count_shared_rooms   77346 non-null  int64
 21  reviews_per_month                             54906 non-null  float64
 22  month                                         77346 non-null  object
dtypes: float64(10), int64(7), object(6)
memory usage: 13.6+ MB

## Merging datasets (append)

In [149]:
# Leap of faith here that the columns are of the same type in all datasets. Probably need to check this.

df = l1.append(l7, ignore_index=True)
print(df.head(5))
print(df.tail(5))

               property_type        room_type  accommodates  bathrooms  \
0           Entire apartment  Entire home/apt             4        NaN
1  Private room in apartment     Private room             2        NaN
2           Entire apartment  Entire home/apt             2        NaN
3           Entire apartment  Entire home/apt             6        NaN
4  Private room in townhouse     Private room             2        NaN

   bedrooms  beds                                          amenities    price  \
0       1.0   3.0  ["Essentials", "Fire extinguisher", "Dedicated...   $89.00
1       1.0   0.0  ["Essentials", "Bathtub", "Fire extinguisher",...   $40.00
2       1.0   1.0  ["Essentials", "Fire extinguisher", "Dedicated...   $75.00
3       3.0   3.0  ["Essentials", "Dedicated workspace", "Wifi", ...  $307.00
4       1.0   1.0  ["Heating", "Smoke alarm", "Carbon monoxide al...  $150.00

   minimum_nights  maximum_nights  ... review_scores_checkin  \
0               2            1125  ...                  10.0
1               1              29  ...                  10.0
2              10              50  ...                  10.0
3               4             365  ...                   9.0
4               3              21  ...                   NaN

   review_scores_communication  review_scores_location  review_scores_value  \
0                         10.0                     9.0                  9.0
1                         10.0                     9.0                  9.0
2                         10.0                    10.0                  9.0
3                          9.0                    10.0                  9.0
4                          NaN                     NaN                  NaN

   calculated_host_listings_count  \
0                               3
1                               2
2                               1
3                              15
4                               2

   calculated_host_listings_count_entire_homes  \
0                                            3
1                                            1
2                                            1
3                                           15
4                                            0

   calculated_host_listings_count_private_rooms  \
0                                             0
1                                             1
2                                             0
3                                             0
4                                             2

   calculated_host_listings_count_shared_rooms  reviews_per_month    month
0                                            0               1.46  January
1                                            0               0.17  January
2                                            0               0.66  January
3                                            0               0.35  January
4                                            0                NaN  January

[5 rows x 23 columns]
                property_type        room_type  accommodates  bathrooms  \
150705       Entire apartment  Entire home/apt             6        NaN
150706       Entire apartment  Entire home/apt             4        NaN
150707       Entire apartment  Entire home/apt             2        NaN
150708       Entire apartment  Entire home/apt             2        NaN
150709  Private room in house     Private room             1        NaN

        bedrooms  beds                                          amenities  \
150705       3.0   3.0  ["Carbon monoxide alarm", "Kitchen", "Washer",...
150706       2.0   2.0  ["Dryer", "Hot water", "Clothing storage", "Ha...
150707       1.0   0.0  ["Kitchen", "Washer", "Wifi", "Hot water", "Es...
150708       1.0   0.0  ["Kitchen", "Washer", "Wifi", "Hot water", "Es...
150709       1.0   NaN  ["Carbon monoxide alarm", "Kitchen", "Dedicate...

          price  minimum_nights  maximum_nights  ... review_scores_checkin  \
150705  $276.00              30              90  ...                   NaN
150706  $117.00               2              30  ...                   NaN
150707   $48.00               1              10  ...                   NaN
150708   $56.00               1            1125  ...                   NaN
150709   $32.00              15            1125  ...                   NaN

        review_scores_communication  review_scores_location  \
150705                          NaN                     NaN
150706                          NaN                     NaN
150707                          NaN                     NaN
150708                          NaN                     NaN
150709                          NaN                     NaN

        review_scores_value  calculated_host_listings_count  \
150705                  NaN                               9
150706                  NaN                               5
150707                  NaN                               2
150708                  NaN                               2
150709                  NaN                              10

        calculated_host_listings_count_entire_homes  \
150705                                            8
150706                                            5
150707                                            2
150708                                            2
150709                                            0

        calculated_host_listings_count_private_rooms  \
150705                                             1
150706                                             0
150707                                             0
150708                                             0
150709                                            10

        calculated_host_listings_count_shared_rooms  reviews_per_month  month
150705                                            0                NaN   July
150706                                            0                NaN   July
150707                                            0                NaN   July
150708                                            0                NaN   July
150709                                            0                NaN   July

[5 rows x 23 columns]

In [150]:
# Shape of final df

print(f"The final data frame has {df.shape[0]} rows and {df.shape[1]} columns.")

The final data frame has 150710 rows and 23 columns.

## Exploring missing data in the combined df

In [157]:
#Columns with missing values:
# saving to list for later use
cols_w_missing = list(df.columns[df.isnull().any()])

print(f" Missing values in columns {cols_w_missing}")

# Would be nice to know how to make this look better.

 Missing values in columns ['bathrooms', 'bedrooms', 'beds', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'reviews_per_month']

In [161]:
#How many missing values?

print(df[cols_w_missing].isnull().sum())

bathrooms                      150710
bedrooms                         9540
beds                             2402
review_scores_accuracy          48439
review_scores_cleanliness       48419
review_scores_checkin           48528
review_scores_communication     48441
review_scores_location          48529
review_scores_value             48534
reviews_per_month               45018
dtype: int64

Why so many missings in bathroom?

## Checking data types and recoding column values for analysis

In [ ]:
# Checking data types
df.dtypes

# Some 'object' types

In [95]:
# looking at these more closely
df['property_type']
# --> needs to be recoded (categorical var)

0        Entire home/apt
1           Private room
2        Entire home/apt
3        Entire home/apt
4           Private room
              ...
77341    Entire home/apt
77342    Entire home/apt
77343       Private room
77344    Entire home/apt
77345    Entire home/apt
Name: room_type, Length: 77346, dtype: object

In [ ]:
df['room_type']

In [ ]:
df['amenities']

# Creating dataframe / variable of lockdown measures

# Summary stats - later

# Graphs
All of these against the severity of lockdown measures [how to represent this in the graph?]
(1) Stacked bar charts for type of listing
(2) Line graph for number of listings
(3) Line graph of mean (?) price with standard deviations as shaded areas: https://stackoverflow.com/questions/12957582/plot-yerr-xerr-as-shaded-region-rather-than-error-bars

## Graph 1

## Graph 2

## Graph 3

# Conclusions
- Can we see any patterns at all?
- Correlation at best -> caution when interpreting.